<!DOCTYPE html>
<html>
<head>
  <title>SetiQuest Info Service</title>
  <%= stylesheet_link_tag "style" %>
  <%= stylesheet_link_tag "obsinfo" %>
  <%= javascript_include_tag "page_loader" %>
  <%= csrf_meta_tag %>
</head>
<!body onload="javascript:getpage('obsinfo.html', 'content_area');">
<body>

XX
<BR>
XXXXXXXXXXX
<BR>
<%= yield %>


</body>
</html>
